  .btn-signup {
    padding: 18px 27px;
    border-radius: 8px;
    border: none;
    background-color: map-get(map-get($brand-Yellow, purple), 500);
    color: #ffffff;
    cursor: pointer;
    &:hover {
      background-color: map-get(map-get($brand-Yellow, purple), 500);
    }
  }
  .btn-login {
    padding: 18px 27px;
    border-radius: 8px;
    border: 2px solid map-get(map-get($brand-Yellow, purple), 300);
    color: map-get(map-get($brand-Yellow, purple), 500);
    cursor: pointer;

    &:hover {
      background-color: map-get(map-get($brand-Yellow, purple), 500);
      border: 2px solid map-get(map-get($brand-Yellow, purple), 500);
      color: #ffffff;
      transition: 0.5s;
    }
  }
  .btn-group {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .btn-primary {
    padding: 14px;
    border-radius: 10px;
    border: none;
    background-color: map-get(map-get($brand-Yellow, purple), 500);
    color: map-get(map-get($greyscale, grey), 50);
    cursor: pointer;
    transition: background-color 0.2s;

    &.btn-full {
      width: 100%;
    }

    &:hover {
      background-color: map-get(map-get($brand-Yellow, purple), 600);
    }
  }

  .input-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: map-get(map-get($greyscale, grey), 400);
    cursor: pointer;

    &:hover {
      color: map-get(map-get($greyscale, grey), 700);
    }
  }