.display-text {
    font-family: "inter-bold";
    font-size: 48px;
    line-height: auto;
}

.heading-1 {
    font-family: 'inter-semibold';
    font-size: 40px;
    line-height: auto;
}

.heading-2 {
    font-family: 'inter-semibold';
    font-size: 32px;
    line-height: auto;
}

.heading-3 {
    font-family: 'inter-semibold';
    font-size: 24px;
    line-height: auto;
}

.heading-4 {
    font-family: 'inter-semibold';
    font-size: 20px;
    line-height: auto;
}

.heading-5 {
    font-family: 'inter-semibold';
    font-size: 16px;
    line-height: auto;
}

.body-lightXL {
    font-family: 'inter-light';
    font-size: 24px;
    line-height: auto;
}

.bodyXL {
    font-family: 'inter-medium';
    font-size: 24px;
    line-height: auto;
}

.bodyL {
    font-family: 'inter-regular';
    font-size: 20px;
    line-height: auto;
}

.body-mediumL {
    font-family: 'inter-medium';
    font-size: 20px;
    line-height: auto;
}

.body-mediumM {
    font-family: 'inter-medium';
    font-size: 18px;
    line-height: auto;
}

.bodyM {
    font-family: 'inter-regular';
    font-size: 18px;
    line-height: auto;
}

.bodyS {
    font-family: 'inter-regular';
    font-size: 16px;
    line-height: auto;
}

.bodyXS {
    font-family: 'inter-regular';
    font-size: 14px;
    line-height: auto;
}

.helper-medium {
    font-family: 'inter-medium';
    font-size: 12px;
    line-height: auto;
}

.helper-regularM {
    font-family: 'inter-regular';
    font-size: 14px;
    line-height: auto;
}

.helper-regularS {
    font-family: 'inter-regular';
    font-size: 12px;
    line-height: auto;
}

.helper-regularXS {
    font-family: 'inter-regular';
    font-size: 10px;
    line-height: auto;
}

.text-underlineM {
    font-family: 'inter-medium';
    font-size: 20px;
    line-height: auto;
    text-decoration: underline;
}

.text-underlineS {
    font-family: 'inter-medium';
    font-size: 12px;
    line-height: auto;
    text-decoration: underline;
}

.text-underlineXS {
    font-family: 'inter-medium';
    font-size: 10px;
    line-height: auto;
    text-decoration: underline;
}

.buttonM {
    font-family: 'inter-medium';
    font-size: 20px;
    line-height: auto;
}

.buttonS {
    font-family: 'inter-medium';
    font-size: 16px;
    line-height: 24px;
}